.container {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: brown;
	margin: 0 auto;
}

.wrapper {
	border: 3px solid burlywood;
	padding: 20px;
	border-radius: 10px;
}

.login-title {
	text-align: center;
	color: blanchedalmond;
}

.login-form {
	padding: 12px;
	margin: 8px;
	display: flex;
	flex-direction: column;
}

.login-input {
	width: 100%;
	border: none;
	margin-bottom: 10px;
	padding: 12px;
	font-size: 18px;
}

.login-button {
	border-radius: 5px;
	border: none;
	padding: 12px;
	font-size: 20px;
	margin-top: 12px;
	background-color: #333;
	color: #eaeaea;
	font-weight: bolder;
	cursor: pointer;
}

.login-button:hover {
	background-color: #eaeaea;
	color: #333;
	transition: 0.3s ease-in-out;
}
